body {
   font-family: Arial, sans-serif;
   font-size: 1.25rem;
   line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
   overflow-wrap: break-word;
   -webkit-hyphens: auto;
   hyphens: auto;
}

h1,
h2,
h3,
h4 {
   font-family: "agdasimaregular", sans-serif;
   font-weight: 400;
}
a {
   text-decoration: none;
}
