// @section    Main Layout

body {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
   grid-template-areas:
      'header'
      'main'
      'footer';
   align-items: start;
   width: 100vw;
   height: 100vh;
}

header {
   grid-area: header;

   @media (min-width: 768px) {
   }
}

main {
   grid-area: main;
   align-self: start;
   justify-self: center;
   width: auto;

   @media (min-width: 768px) {
   }
}

footer {
   grid-area: footer;

   @media (min-width: 768px) {}
}
